#product-container {
    width: 1140px / 1140px * 100%;
    display: block;
    padding-top: 10px;

    .product-card {
        padding: 10px;
        display: inline-block;
        max-width: 220px / 1140px * 100%;
        text-align: center;

        figure {
            max-width: 200px;
            max-height: 200px;
            display: inline-block;

            img {
                width: 200px;
                height: 200px;
                object-fit: contain;
            }

            figcaption {
                .title {
                    text-transform: capitalize;
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }
        }

        .product-content {
            max-width: 220px;
            font-size: 16px;
            margin-bottom: 0;

            .product-price {
                &::before {
                    content: "\20AC";
                }
            }

        }
    }

    #product-wrapper {
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.048);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        max-width: 860px;

        figure {
            max-width: 500px;
            display: inline-block;
            margin-right: 20px !important;

            img {
                &.main-img {
                    width: 440px;
                    height: 440px;
                    object-fit: unset;
                    display: block;
                }

                &.side-img {
                    margin-top: 20px;
                    width: 210px;
                    height: 210px;
                    object-fit: unset;
                    display: inline-block;

                    &.right {
                        float: right;
                    }
                }
            }
        }

        #product-content {
            display: inline-block;
            vertical-align: top;

            p {
                display: block;
                max-width: 300px;
                margin-bottom: 0;

                &#product-title {
                    font-weight: bold;
                    font-size: 22px;
                    margin: 0;
                }

                &#product-category {
                    text-transform: capitalize;
                    font-size: 18px;
                    margin: 0 0 1rem 0;

                    &::after {
                        content: " Microphone";
                    }
                }

                &#product-description {
                    font-size: 16px;
                    margin: 0 0 1rem 0;

                    &::before {
                        display: block;
                        content: "Description: ";
                        font-weight: 700;
                        font-size: 14px;
                        margin-bottom: 1px;
                    }
                }

                &#product-weight {
                    font-size: 16px;
                    margin: 0 0 1rem 0;

                    &::before {
                        display: block;
                        content: "Weight: ";
                        font-weight: 700;
                        font-size: 14px;
                        margin-bottom: 1px;
                    }

                    &::after {
                        content: "g"
                    }
                }

                &#product-color {
                    text-transform: capitalize;
                    font-size: 17px;
                    margin: 0 0 1rem 0;

                    &::before {
                        text-transform: none;
                        display: block;
                        content: "Colors Available: ";
                        font-weight: 700;
                        font-size: 14px;
                        margin-bottom: 1px;
                    }
                }

                &#product-price {
                    font-weight: bold;
                    font-size: 20px;
                    margin: 0 0 1rem 0;

                    &::before {
                        content: "\20AC";
                    }
                }
            }

            label[for="quantity"] {
                display: block;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 1px;
            }

            .button {
                &.dec {
                    border-right: 0;
                    float: left;
                    width: 35px;
                    height: 36px;
                    border: 1px solid #cbcbcb;
                    cursor: pointer;
                    background: url(../img/input_icons.png) no-repeat 12px -923px;
                    text-indent: -999em;
                }

                &.inc {
                    float: left;
                    width: 35px;
                    height: 36px;
                    border: 1px solid #cbcbcb;
                    cursor: pointer;
                    background: url(../img/input_icons.png) no-repeat 12px -923px;
                    background-position: 12px -965px;
                    text-indent: -999em;
                }
            }

            input[type="text"] {
                padding: 5px 10px;
                line-height: 1.35;
                height: 36px;
                border: 1px solid #cbcbcb;

                &#product-quantity {
                    float: left;
                    width: 50px;
                    margin-bottom: 20px;
                }
            }



            .btn-primary {
                background: #435d7d;
                border: none;
                border-radius: 4px;
                padding: 11px;
                box-shadow: none;
                margin-top: 26px;
                text-shadow: none;
                text-transform: capitalize;
                outline: none !important;

                &:hover {
                    background: #344861;
                }

                &:active {
                    background: #344861;
                    transform: translateY(1px);
                }
            }
        }
    }
}