.navigation-clean-button {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;

    .navbar-brand {
        font-weight: bold;
        color: inherit;

        &:hover {
            color: #222;
        }

        img {
            height: 100%;
            display: inline-block;
            margin-right: 10px;
            width: auto;
        }
    }

    .navbar-toggler {
        border-color: #ddd;
        color: #888;

        &:hover {
            background: none;
        }

        &:focus {
            background: none;
        }
    }

    .navbar-collapse {
        border-top-color: #ddd;
    }

    .form-inline {
        border-top-color: #ddd;
    }

    .navbar-nav {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

        a.active {
            background: none;
            box-shadow: none;
        }

        >.show {
            >a {
                background: none;
                box-shadow: none;
            }
        }

        >li {
            >.dropdown-menu {
                margin-top: -5px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
                background-color: #fff;
                border-radius: 2px;
            }
        }
    }

    .dropdown-menu {
        .dropdown-item {
            &:focus {
                line-height: 2;
                font-size: 14px;
                color: #37434d;
                background: #eee;
                color: inherit;
            }

            line-height: 2;
            font-size: 14px;
            color: #37434d;

            &:hover {
                background: #eee;
                color: inherit;
            }
        }
    }

    .actions {
        .login {
            margin-right: 1rem;
            text-decoration: none;
            color: #465765;
        }
    }

    .navbar-text {
        .action-button {
            background: #435d7d;
            border-radius: 20px;
            font-size: inherit;
            color: #fff;
            box-shadow: none;
            border: none;
            text-shadow: none;
            padding: .5rem 1rem;
            transition: background-color 0.25s;
            font-size: inherit;

            &:active {
                background: #435d7d;
                border-radius: 20px;
                font-size: inherit;
                color: #fff;
                box-shadow: none;
                border: none;
                text-shadow: none;
                padding: .5rem 1rem;
                transition: background-color 0.25s;
                font-size: inherit;
            }

            &:hover {
                background: #435d7d;
                border-radius: 20px;
                font-size: inherit;
                color: #fff;
                box-shadow: none;
                border: none;
                text-shadow: none;
                padding: .5rem 1rem;
                transition: background-color 0.25s;
                font-size: inherit;
                background: #344861;
            }
        }
    }
}

.navigation-clean-button.navbar-dark {
    .navbar-brand {
        &:hover {
            color: #f0f0f0;
        }
    }

    .navbar-toggler {
        border-color: #555;
        color: #eee;
    }

    .navbar-collapse {
        border-top-color: #333;
    }

    .form-inline {
        border-top-color: #333;
    }

    background-color: #1f2021;
    color: #fff;

    .navbar-nav {
        a.active {
            color: #8f8f8f;
            box-shadow: none;
            background: none;
            pointer-events: none;

            &:focus {
                color: #8f8f8f;
                box-shadow: none;
                background: none;
                pointer-events: none;
            }

            &:hover {
                color: #8f8f8f;
                box-shadow: none;
                background: none;
                pointer-events: none;
            }
        }

        .nav-link {
            color: #dfe8ee;

            &:focus {
                color: #fff !important;
                background-color: transparent;
            }

            &:hover {
                color: #fff !important;
                background-color: transparent;
            }
        }

        >li {
            >.dropdown-menu {
                background-color: #1f2021;
            }
        }
    }

    .dropdown-menu {
        .dropdown-item {
            &:focus {
                color: #f2f5f8;
                background: #363739;
            }

            color: #f2f5f8;

            &:hover {
                background: #363739;
            }
        }
    }

    .actions {
        .login {
            color: #dfe8ee;

            &:hover {
                color: #fff;
            }
        }
    }

    .action-button {
        background: #435d7d;

        &:active {
            background: #435d7d;
        }

        &:hover {
            background: #344861;
        }
    }
}

.navigation-clean-button.navbar-light {
    .navbar-nav {
        a.active {
            color: #8f8f8f;
            box-shadow: none;
            background: none;
            pointer-events: none;

            &:focus {
                color: #8f8f8f;
                box-shadow: none;
                background: #344861;
                pointer-events: none;
            }

            &:hover {
                color: #8f8f8f;
                box-shadow: none;
                background: #344861;
                pointer-events: none;
            }
        }

        .nav-link {
            color: #465765;

            &:focus {
                color: #37434d !important;
                background-color: transparent;
            }

            &:hover {
                color: #37434d !important;
                background-color: transparent;
            }
        }
    }
}

.navigation-clean-button.navbar {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    .navbar-nav {
        .nav-link {
            padding-left: 18px;
            padding-right: 18px;
        }
    }
}

@media (min-width:768px) {
    .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (max-width:767px) {
    .navigation-clean-button {
        .navbar-nav {
            .show {
                .dropdown-menu {
                    box-shadow: none;

                    .dropdown-item {
                        color: #37434d;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        line-height: 1;
                    }
                }
            }
        }
    }

    .navigation-clean-button.navbar-dark {
        .navbar-nav {
            .show {
                .dropdown-menu {
                    .dropdown-item {
                        color: #fff;
                    }
                }
            }
        }
    }
}