#product-container {
    width: 1140px / 1140px * 100%;
    display: block;
    padding-top: 10px;

    .product-card {
        padding: 10px;
        display: inline-block;
        max-width: 220px / 1140px * 100%;
        text-align: center;

        figure {
            max-width: 200px;
            display: inline-block;

            img {
                max-width: 100%;
            }

            figcaption {
                .title {
                    text-transform: capitalize;
                    font-size: 18px;
                    margin-bottom: 0;

                    .uppercase {
                        text-transform: uppercase;
                    }
                }
            }
        }

        .product-content {
            max-width: 220px;
            font-size: 16px;
            margin-bottom: 0;

            .product-price {
                &::before {
                    content: "\20AC";
                }
            }

        }
    }
}